 
}     
#mySidebar {
    color: #610C0C;
}

#imgpla {
    display: flex; 
    justify-content: center;
}

  .otrais {
background-color: #efd2d2;
  
  }
.centrs {
    width: 300px;
}


div.mans {
width: 500px;
}
        
