    .divcenter{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
#imgpla {
    display: flex; 
    justify-content: center;
}

#pla {
    display: flex; 
    text-align: center;
}       
